* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    background-color:#4db6ac;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 300px;
    height: 300px;

}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #004d40;
    z-index: -1;
}

.gradiant-circle {
    position: absolute;
   
    width: 320px;
    height: 320px;
    border-radius: 50%;
   background:conic-gradient(
    #69f0ae 0%,
    #69f0ae 40%,
    #00e676 40%,
    #00e676 60% ,
      #1b5e20 60%,
      #1b5e20 100% );
       /* background: conic-gradient(lime 40%, yellow 0 70%, red 0); */
    z-index: -2;
    top: -10;
    left: -10;
}

.pointer-circle {
position: absolute;
top: -40px;
left: 140px;
width: 20px;
height: 200px;
animation: rotate 7.5s linear forwards infinite;
transform-origin: bottom center;
}
.pointer{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.container.grow{
    animation: grow 3s linear forwards    ;

}
.container.shrink{
    animation:     shrink 3s linear  forwards  ;

}


@keyframes grow{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
@keyframes shrink{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}



@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }